[alias]
  s = status -s

[color "status"]
  added = green
  changed = yellow
  untracked = cyan

[color "branch"]
  remote = yellow

[apply]
  whitespace = fix

[core]
  editor = vim

[user]
  name = bekzod
  email = bekzod97@hotmail.com

[push]
    autoSetupRemote = true