[color "status"]
  untracked = cyan

[color "branch"]
  remote = yellow

[apply]

    # Detect whitespace errors when applying a patch
    whitespace = fix

[core]

    editor = vim

[user]
  name = Bekzod Tursunov
	email = bekzod97@hotmail.com
