[alias]
  s = status -s
[color "status"]
  untracked = cyan

[color "branch"]
  remote = yellow

[apply]
  whitespace = fix

[core]
  editor = vim

[user]
  name = Bekzod Tursunov
  email = bekzod97@hotmail.com
